<div class="row">
  <div class="col-xs-10">
    <h3> Edit: </h3>
    <app-add-item></app-add-item>
    <hr>
    <h3>Shopping List: </h3>
    <i> Click on items to edit them</i>
    <br> <br>
    <ul class="list-group">
    <a 
      class="list-group-item" 
      style="cursor: pointer"
      *ngFor = "let ingredient of ingredients; let i = index"
      (click)="onEditItem(i)">
      {{ ingredient.name }} ({{ ingredient.amount }}) 
    </a>
    </ul>
    <button class="btn btn-primary" onclick="window.print();return false;">Print</button>
  </div>
</div>