<div class="row">
    <div class="col-xs-4"> 
      <form (ngSubmit)="onSignin(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input type="email" name="email" id="email" ngModel class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" ngModel class="form-control">
        </div>
        <button class="btn btn-primary" type="submit">Sign In</button>
        <br> <br>
        <div>
            <label for="createAccount">No account yet?</label>
            <br> 
            <button class="btn btn-primary" type="button" routerLink="/signup">Register</button>
        </div>
      </form>
    </div>
  </div>
  